main {
    max: width 840px;
}

aside{ 
    padding: 1rem;
    background-color: #fff;
    width:20rem;
    margin: 1rem;
    border: 1px solid #000
    cornflowerblue
}
main img{
    width: 100px;
    height: auto;
}
aside img{
    width: 150px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}